/* css reset */

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts import */

@font-face {
    font-family: "claude-sans";
    src: url(../fonts/Claude_Sans_Bold_Italic_Plain.ttf);
}

/* css variabelen */

:root {
    --background-color: #fff;
    --second-background-color: #016938;

    --text-color-white: #fff;
    --text-color-green: #016938;
    --text-color-red: #C30823;
    --text-color-black: #000;

    --first-button-color: #BA8B52;
    --first-button-focus: #9b703d;
    --first-button-active: #775429;

    --second-button-color: #C30823;
    --second-button-focus: #96051b;
    --second-button-active: #680312;

    --default-font: "brandon-grotesque", sans-serif;
    --second-font: "claude-sans", sans-serif;
}

/* header styling */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    height: 4.2em;
    padding: 0em 1em;
    width: 100vw;
}

header > button {
    width: 2em;
    cursor: pointer;
    background-color: unset;
    border: none;
    transition: .5s;
}

header > button:nth-of-type(2):hover {
    transform: scale(1.3);
}

header > a > img {
    width: 7.5em;
    cursor: pointer;
    margin-top: .75em;
}

/* eind header styling */

/* mobiel navigatie styling */

nav {
    position: fixed;
    left: 0;
    transform:translateX(-100%);
    transition: 1s;
    z-index: 99;
    background-color: var(--background-color);
    height: 100vh;
    width: 80vw;
}

nav.toonmenu{
    transform:translateX(0);
}

nav > button {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

nav > button > img:hover {
    content: url(../img/home/menu-kruis-hover.svg);
    cursor: pointer;
}

nav > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    margin-top: 1em;
}

nav > ul {
    list-style-type: none;
    margin-top: 3em;
}

nav > ul > li {
    margin-bottom: 1.5em;
}

nav > ul > li > a {
    font-family: var(--default-font);
    font-weight: 700;
    font-size: 1em;
    color: var(--text-color-green);
    text-decoration: none;
    text-align: left;
    margin-left: 1em;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

nav > ul > li > a:focus {
    text-decoration: underline;
    color: #003f22;
}

nav > ul > li:last-child > a {
    color: var(--text-color-red);
}

nav > ul > li:last-child > a:hover {
    color: var(--text-color-green);
    text-decoration: none;
}

nav > ul > li:last-child > a:focus {
    color: #003f22;
}

nav > p {
    color: var(--text-color-black);

    font-family: var(--default-font);
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    margin-left: 1em;
    margin-top: 5em;
}

nav > input {
    margin: 1em 0em 0em 1em;
    padding: 1em 2.5em;
    border-radius: 4em;
    border: 0.0625em solid rgb(136, 136, 136);
}

nav > input::placeholder {
    color: rgb(136, 136, 136);
    font-family: var(--default-font);
    font-size: 1em;
}

nav > input:focus {
    caret-color: rgb(94, 94, 94);
}

/* eind navigatie styling */

/* groene balk boven pagina */

main > div {
    background-color: var(--second-background-color);
    height: 7.5em;
}

/* algemene p styling */

p {
    font-family: var(--default-font);
    font-size: 1em;
    color: var(--text-color-black);
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

/* eerste section styling */

section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    background-image: url(../img/home/Decadent_desserts_mobile.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 27em;
}

section:nth-of-type(1) > p {
    font-family: var(--second-font);
    font-size: 1.75em;
    color: var(--text-color-white);
    margin: 1em 0em;
}

h1 {
    font-family: var(--default-font);
    font-size: 2.5em;
    font-weight: 700;
    color: var(--text-color-white);
    text-transform: uppercase;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

section:nth-of-type(1) > a {
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 700;
    border-radius: 6em;
    text-decoration: none;
    color: var(--text-color-white);
    background-color: var(--first-button-color);
    padding: 1em;
    transition: .5s;
}

/* eerste section states button link styling */

section:nth-of-type(1) > a:hover {
    transform: scale(1.15);
}

section:nth-of-type(1) > a:focus {
    background-color: var(--first-button-focus);
}

section:nth-of-type(1) > a:active {
    background-color: var(--first-button-active);
}

section:nth-of-type(1) > a > img {
    width: .5em;
    margin-left: 1em;
}

section:nth-of-type(1) > img {
    width: 80%;
    max-width: 30em;
    margin-top: 2em;
}

/* eind eerste section styling */

/* tweede section styling */

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-background-color);
    margin-top: 15em;
    border-radius: 1em;
}

section:nth-of-type(2) > p:nth-of-type(1) {
    font-family: var(--second-font);
    font-size: 1.75em;
    color: var(--text-color-white);
    margin: 1em 0em;
}

h2 {
    font-family: var(--default-font);
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1.2em;
    text-align: center;
    margin: 0em .3em 1em;
    color: var(--text-color-white);
    text-transform: uppercase;
}

section:nth-of-type(2) > p:nth-of-type(2) {
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: var(--text-color-white);
    margin: 0em .3em 4em;
}

section:nth-of-type(2) > p:nth-of-type(2) > span {
    font-weight: 700;
}

section:nth-of-type(2) > a {
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 700;
    border-radius: 6em;
    text-decoration: none;
    color: var(--text-color-white);
    background-color: var(--second-button-color);
    padding: 1em;
    transition: .5s;
}

/* tweede section states button link styling */

section:nth-of-type(2) > a:hover {
    transform: scale(1.15);
}

section:nth-of-type(2) > a:focus {
    background-color: var(--second-button-focus);
}

section:nth-of-type(2) > a:active {
    background-color: var(--second-button-active);
}

section:nth-of-type(2) > a > img {
    width: .5em;
    margin-left: 1em;
}

section:nth-of-type(2) > img {
    width: 80%;
    max-width: 30em;
    margin-top: 3em;
}

/* eind tweede section styling */

/* derde section styling */

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
    border-radius: 1em;
    background-color: #F5F6F8;
}

section:nth-of-type(3) > img {
    width: 100%;
    max-width: 100vw;
}

section:nth-of-type(3) > p:nth-of-type(1) {
    font-family: var(--second-font);
    font-size: 1.75em;
    text-align: center;
    color: var(--text-color-red);
    margin: 1em 0em;
}

section:nth-of-type(3) > h2 {
    font-family: var(--default-font);
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1.2em;
    text-align: center;
    margin: 0em .3em 1em;
    color: var(--text-color-green);
    text-transform: uppercase;
}

section:nth-of-type(3) > p:nth-of-type(2) {
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: var(--text-color-black);
    margin: 0em .3em 4em;
}

section:nth-of-type(3) > a {
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 700;
    border-radius: 6em;
    text-decoration: none;
    color: var(--text-color-white);
    background-color: var(--second-button-color);
    padding: 1em;
    margin-bottom: 4em;
    transition: .5s;
}

/* derde section states button link styling */

section:nth-of-type(3) > a:hover {
    transform: scale(1.15);
}

section:nth-of-type(3) > a:focus {
    background-color: var(--second-button-focus);
}

section:nth-of-type(3) > a:active {
    background-color: var(--second-button-active);
}

/* eind derde section styling */

/* eerste ul in de main styling */

main > ul:nth-of-type(1) {
    list-style-type: none;
    margin-top: 7em;
}

main > ul:nth-of-type(1) > li {
    margin: 0em 1em 0em 1em;
    border-radius: 1em;
    position: relative;
    height: 30.5em;
    max-width: 30.5em;
    z-index: -1;
}

main > ul:nth-of-type(1) > li > img {
    position: absolute;
    left: calc(50% - 2em);
    top: calc(80% - 2em);
    width: 4em;
    height: 4em;
}

main > ul:nth-of-type(1) > li:nth-of-type(1) {
    background-image: url(../img/home/Decadent_desserts_driver.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main > ul:nth-of-type(1) > li:nth-of-type(2) {
    background-image: url(../img/home/Creations_driver_Without_Offer_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2em;
}

/* eind eerste ul styling */

/* vierde section styling */

section:nth-of-type(4) {
    margin-top: 7.5em;
}

section:nth-of-type(4) > h2 {
    color: var(--text-color-green);
}

section:nth-of-type(4) > p > a {
    text-decoration: none;
    color: var(--text-color-red);
}

section:nth-of-type(4) > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3em;
    list-style-type: none;
}

section:nth-of-type(4) > ul > li {
    margin-bottom: 2em;
}

section:nth-of-type(4) > ul > li > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 12em;
}

/* eind vierde section styling */

h3 {
    font-family: var(--default-font);
    color: var(--text-color-green);
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-top: .5em;
}

/* tweede ul styling */

main > ul:nth-of-type(2) {
    list-style-type: none;
    margin: 3em 1em;
}

main > ul:nth-of-type(2) > li > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 15em;
}

/* hover states afbeelding verandering */

main > ul:nth-of-type(2) > li:nth-of-type(1) > img:hover {
    content: url(../img/home/Icon_Made_Fresh_Hover.png);
}

main > ul:nth-of-type(2) > li:nth-of-type(2) > img:hover {
    content: url(../img/home/Icon_Hand_Crafted_Hover.png);
}

main > ul:nth-of-type(2) > li:nth-of-type(3) > img:hover {
    content: url(../img/home/Icon_Hotlight_Hover.png);
}

/* eind styling tweede ul */

/* vijfde section styling */

section:nth-of-type(5) > p:nth-of-type(1) {
    font-family: var(--second-font);
    font-size: 1.75em;
    color: var(--text-color-red);
    margin: .5em 0em;
    margin-top: 3em;
}

section:nth-of-type(5) > h2 {
    color: var(--text-color-green);
    margin-bottom: 0;
}

section:nth-of-type(5) > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0em 1em 0em 1em;
}

section:nth-of-type(5) > ul > li > img:nth-of-type(1) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20em;
}

section:nth-of-type(5) > ul > li > h3 {
    margin-top: -1em;
}

section:nth-of-type(5) > ul > li > p:nth-of-type(1) {
    font-family: var(--default-font);
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-color-black);
}

section:nth-of-type(5) > ul > li > a {
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 700;
    border-radius: 6em;
    text-decoration: none;
    color: var(--text-color-green);
    background-color: white;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 11em;
    text-align: center;
    margin-top: 2em;
    box-shadow: 0em 0.625em 1.875em -0.125em rgba(0,0,0,0.25);
    transition: .5s;
}

section:nth-of-type(5) > ul > li > a:hover {
    transform: scale(1.15);
}

/* eind section 5 styling */

/* footer styling */

footer {
    margin: 7.5em 1em 0em 1em;
    background-image: url(../img/home/pattern-mobile.svg);
    background-size: 2.5em;
    background-repeat: repeat-y;
    height: 45em;
}

footer > h3 {
    text-align: left;
    margin-bottom: 1em;
}

footer > h3 > span {
    font-family: var(--second-font);
    color: var(--text-color-red);
    text-transform: lowercase;
}

footer > ul {
    list-style-type: none;
}

footer > ul > li {
    margin-bottom: 1em;
}

footer > ul > li > a {
    font-family: var(--default-font);
    font-size: 1em;
    color: var(--text-color-black);
    text-decoration: none;
}

footer > ul > li > a:hover {
    text-decoration: underline;
}

footer > h3:nth-of-type(1),h3:nth-of-type(2) {
    margin-left: 2.5em;
}

footer > ul:nth-of-type(1),ul:nth-of-type(2) {
    margin-left: 4em;
}


footer > h3:nth-of-type(2),h3:nth-of-type(3) {
    margin-top: 2em;
}

footer > h3:nth-of-type(3) {
    text-align: center;
}

footer > ul:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > ul:nth-of-type(3) > li > a > img {
    width: 80%;
    max-width: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
}

/* hover states social media icons */

footer > ul:nth-of-type(3) > li:nth-of-type(1) > a > img:hover {
    content: url(../img/home/fb-icon-hover.svg);
}

footer > ul:nth-of-type(3) > li:nth-of-type(2) > a > img:hover {
    content: url(../img/home/instagram-icon-hover.svg);
}

footer > ul:nth-of-type(3) > li:nth-of-type(3) > a > img:hover {
    content: url(../img/home/pinterest-icon-hover.svg);
}

footer > ul:nth-of-type(3) > li:nth-of-type(4) > a > img:hover {
    content: url(../img/home/twitter-icon-hover.svg);
}

footer > ul:nth-of-type(3) > li:nth-of-type(5) > a > img:hover {
    content: url(../img/home/youtube-icon-hover.svg);
}

footer > ul:nth-of-type(3) > li > a > img:hover {
    transform: scale(1.15);
}

footer > img {
    width: 100%;
    max-width: 20em;
    display: block;
    margin: 3em auto 2em auto;
}

footer > ul:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > ul:nth-of-type(4) > li > img {
    width: 80%;
    max-width: 6em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer > p {
    padding: 2em 0em;
}

/* eind footer styling */

/* tweede pagina styling. Fundraising pagina */

/* algemene styling (h1 p etc) */

.fundraising-main > h1 {
    color: var(--text-color-green);
    margin-top: 1em;
}

.fundraising-main > p:nth-of-type(1) {
    font-family: var(--second-font);
    font-size: 1.75em;
    color: var(--text-color-red);
}

.fundraising-main > p:nth-of-type(2) {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

.fundraising-main > p:nth-of-type(2) > a {
    color: var(--text-color-red);
    text-decoration: none;
}

.fundraising-main > a {
    display: block;
    margin: 3em auto;
    font-family: var(--default-font);
    font-size: 1em;
    font-weight: 700;
    border-radius: 6em;
    text-decoration: none;
    text-align: center;
    color: var(--text-color-white);
    background-color: var(--second-button-color);
    padding: 1em;
    max-width: 14em;
    transition: .5s;
}

/* states styling button link */

.fundraising-main > a:hover {
    transform: scale(1.15);
}

.fundraising-main > a:focus {
    background-color: var(--second-button-focus);
}

.fundraising-main > a:active {
    background-color: var(--second-button-active);
}

.fundraising-main > a > img {
    width: .5em;
    margin-left: 1em;
}

.fundraising-main > img:nth-of-type(1) {
    width: 100%;
}

.fundraising-main > section:nth-of-type(1) {
    height: unset;
    background-image: unset;
    background-color: #F5F6F8;
    margin-top: -.5em;
}

.fundraising-main > section:nth-of-type(1) > p:nth-of-type(1) {
    font-family: var(--default-font);
    font-size: 1em;
    color: var(--text-color-black);
    max-width: 45em;

}

/* youtube video styling */

.fundraising-main iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    margin-bottom: 5em;
    width: 100%;
    max-width: 40em;
}

/* eerste section styling */

.fundraising-main > section:nth-of-type(1) > h3:nth-of-type(2) {
    margin: 0;
    margin-top: 2em;
}

.fundraising-main > section:nth-of-type(1) > ul {
    list-style-type: none;
    padding-bottom: 5em;
}

.fundraising-main > section:nth-of-type(1) > ul > li > img {
    display: block;
    margin: 1em auto;
}

/* eind eerste section styling */

/* tweede section styling */

.fundraising-main > section:nth-of-type(2) {
    display: block;
    background-color: unset;
    margin-top: 5em;
}

.fundraising-main > section:nth-of-type(2) > ul {
    list-style-type: none;
}

.fundraising-main > section:nth-of-type(2) > ul > li > h2 {
    text-align: left;
    color: var(--text-color-green);
}

.fundraising-main > section:nth-of-type(2) > ul > li > p {
    font-family: var(--default-font);
    font-size: 1em;
    color: var(--text-color-black);
    text-align: left;
    margin: 1em 1em 2em 1em;
}

.fundraising-main > section:nth-of-type(2) > ul > li:nth-of-type(2) > img {
    display: block;
    margin: 3em auto 0em auto;
    width: 80%;
    max-width: 30em;
}

/* eind tweede section styling */

.fundraising-main > a:nth-of-type(2) {
    margin-top: 5em;
    margin-bottom: 5em;
}

.fundraising-main > p:nth-of-type(3) > a {
    color: var(--text-color-red);
    text-decoration: none;
}

.fundraising-main > p:nth-of-type(3) > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* eind styling tweede pagina */

/* breakpoints media queries */
/* eerste breakpoint */

@media (min-width: 33em) {
    main > ul:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main > ul:nth-of-type(1) > li:nth-of-type(2) {
        margin-top: 0em;
    }
}

/* tweede breakpoint */

@media (min-width: 53em) {
    section:nth-of-type(4) > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 3em;
    }

    main > ul:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10em 0em;
    }

    section:nth-of-type(5) > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-of-type(5) > ul > li {
        margin-left: 1em;
        margin-right: 1em;
    }

    .fundraising-main > section:nth-of-type(1) > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .fundraising-main > section:nth-of-type(1) > ul > li {
        margin-left: 1em;
        margin-right: 1em;
    }

    .fundraising-main > section:nth-of-type(2) > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fundraising-main > section:nth-of-type(2) > ul > li {
        margin-left: 1em;
        margin-right: 1em;
    }

    .fundraising-main > section:nth-of-type(2) > ul > li:nth-of-type(2) > img {
        display: block;
        margin: 5em auto 0em auto;
        width: 100%;
        max-width: 40em;
    } 

    .fundraising-main > img:nth-of-type(1) {
        content: url(../img/fundraising/Fundraising_hero_desktop.jpeg);
        width: 100%;
    }
}

/* derde breakpoint */

@media (min-width: 65em) {
    main > ul:nth-of-type(1) {
        max-width: 65em;
        margin-left: auto;
        margin-right: auto;
    }
}